@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  color: white;
}

/* Decrease scrollbar width */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

.note-card > div::-webkit-scrollbar {
  width: 1px;
}
/* Styling the scrollbar thumb for dark mode */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Styling the scrollbar track for dark mode */
::-webkit-scrollbar-track {
  background-color: #2d2d2d;
  border-radius: 5px;
}

.text_color {
  color: #676767;
}

.orange_btn {
  @apply rounded-full border border-orange-400 bg-orange-400 py-1.5 px-5 text-black transition-all hover:bg-transparent hover:text-orange-400 text-center text-sm flex items-center justify-center;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-500 via-green-600 to-orange-500 bg-clip-text text-transparent;
}

.bg_green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-700;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.bg_orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500;
}

.bg_yellow_gradient {
  @apply bg-gradient-to-r from-amber-500 to-orange-600;
}

.bg_green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500;
}

.bg_blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* banner frame effect */
.framed {
  box-shadow: -50px -50px 0 -40px #ec640c, 50px 50px 0 -40px #f49b0b;
}

/* floating animation */

.float_animation {
  animation: float 3s infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.duration_ten {
  transition-duration: 10s;
}

/* .skeleton-box */
.skeleton-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  /* background-color: #4c4b4c; */
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(208, 208, 208, 0) 0,
    rgba(225, 225, 225, 0.2) 20%,
    rgba(64, 64, 64, 0.5) 60%,
    rgba(220, 220, 220, 0)
  );
  animation: shimmer 5s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.app-content,
.login-modal {
  transform: translateY(0);
  animation: appOpen 2s cubic-bezier(0.23, 1, 0.32, 1);
  animation-delay: 3.7s;
}

@keyframes appOpen {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}

/* preloader  */
.loader-wrap {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(17, 17, 17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99999999999999;
  transition: bottom 2s cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: 0.5s;
  @apply shadow-lg;
}

.exit-loader {
  bottom: 100%;
}

.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
  fill: #1a1a1a;
}

.loader-wrap .loader-wrap-heading .load-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 15px;
  text-transform: uppercase;
  z-index: 20;
}

.loader-text-exit {
  animation: loaderExit 1s forwards;
  opacity: 0; /* Start with opacity: 0 */
  transform: translateY(-60px);
}

@keyframes loaderExit {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-60px);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.load-text span {
  -webkit-animation: loading 1s infinite alternate;
  animation: loading 1s infinite alternate;
}

.load-text span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.load-text span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.load-text span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.load-text span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.note-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 7px;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 1;
}
.vertical {
  grid-row: span 2;
}

@media (max-width: 767px) {
  .note-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
